<!DOCTYPE html>
<html>
<head>
  <title>Intelytics: Intelligence Informative Analytics - Data Privacy Documentation</title>
  <style>
    body {
        background-color: #FAEFE8; /* Set the background color to a specific hex color code */
    }
</style>
</head>
<body>
  <h1>Terms of Data Privacy</h1>
  
  <p><strong>Introduction</strong></p>
  <p>
    At INTELYTICS, we are committed to protecting your privacy and handling your data responsibly. This Data Privacy Documentation explains how we collect, use, and protect your data when you use Intelytics: Intelligence Informative Analytics (referred to as "the Software").
  </p>
  
  <p><strong>Collection</strong></p>
  <p>
    The Software may collect the following types of data:
  </p>
  <ul>
    <li>Personal Information: When you create an account, we may collect your name, email address, and other contact information. We only collect personal information that is necessary for providing the Software and improving your user experience.</li>
    <li>Usage Data: We may collect information about how you use the Software, such as your interactions, preferences, and activities within the Software. This data helps us analyze usage patterns and enhance the Software's functionality.</li>
    <li>Aggregated Data: We may aggregate and anonymize user data to generate statistical insights and improve our services. This data does not personally identify you.</li>
  </ul>
  
  <p><strong>Usage</strong></p>
  <p>
    We use your data for the following purposes:
  </p>
  <ul>
    <li>To provide and maintain the Software</li>
    <li>To personalize your experience and improve customer service</li>
    <li>To analyze usage patterns and enhance the Software's functionality</li>
    <li>To communicate with you, including responding to inquiries and providing updates</li>
    <li>To enforce our Terms & Conditions and protect our rights</li>
  </ul>
  
  <p><strong>Protection</strong></p>
  <p>
    We take appropriate technical and organizational measures to protect your data from unauthorized access, alteration, disclosure, or destruction. We restrict access to your personal data to authorized personnel only and implement industry-standard security practices.
  </p>
  
  <p><strong>Sharing</strong></p>
  <p>
    We may share your data with third-party service providers who assist us in providing and improving the Software. These service providers are bound by confidentiality agreements and are prohibited from using your data for any other purpose.
  </p>
  
  <p><strong></strong> Retention</p>
  <p>
    We retain your data for as long as necessary to fulfill the purposes outlined in this Data Privacy Documentation, unless a longer retention period is required or permitted by law. After the retention period, we will securely delete or anonymize your data.
  </p>
  
  <p><strong>Your Rights</strong></p>
  <p>
    You have the right to:
  </p>
  <ul>
    <li>Access and rectify your personal data</li>
    <li>Object to the processing of your personal data</li>
    <li>Withdraw your consent for data processing</li>
    <li>Request the erasure of your personal data</li>
    <li>Request the restriction of data processing</li>
    <li>Receive a copy of your personal data in a structured, machine-readable format</li>
  </ul>
  
  <p><strong>Contact Us</strong></p>
    <p>
        If you have any questions about these Terms & Conditions, please contact us</p>
    </p><ul><li>By email:&nbsp;contact@intelytics.pro</li><li style="font-size: 18px;">By founder email: sanjoy@intelytics.pro</li><li>By visiting this page on our website: <a href="https://intelytics.pro/">Intelytics</a></li></ul>
