<!DOCTYPE html>
<html>
<head>
  <title>Terms & Conditions</title>
  <style>
    body {
        background-color: #FAEFE8; /* Set the background color to a specific hex color code */
    }
</style>
</head>
<body>
  <h1><strong>Terms & Conditions</strong></h1>
  
  <p><strong>Acceptance of Terms</strong></p>
  <p>
    These Terms & Conditions govern your use of Intelytics: Intelligence Informative Analytics (referred to as "the Software"). By accessing or using the Software, you agree to be bound by these Terms & Conditions and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing the Software.
  </p>
  
  <p><strong>Software Description</strong></p>

  <p>
    Intelytics: Intelligence Informative Analytics is a software product developed using data-driven methods for creating and optimize the automation & increase of productivity using Artificial Intelligence. The Software provides advanced analytics and intelligence insights based on the data you input.
  </p>
  
  <p><strong>User Responsibilities</strong></p>
  <p>
    By using the Software, you agree to the following responsibilities:
  </p>
  <ul>
    <li>You are responsible for maintaining the confidentiality of your account and password.</li>
    <li>You must not use the Software for any illegal or unauthorized purpose.</li>
    <li>You shall not attempt to gain unauthorized access to the Software or its related systems or networks.</li>
    <li>You are solely responsible for the accuracy, quality, and legality of the data you input into the Software.</li>
  </ul>

  <p><strong>Intellectual Property</strong></p>
  <p>
    The Software and its original content, features, and functionality are owned by Intelytics and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
  </p>
  
  <p><strong>Limitations of Liability</strong></p>
  <p>
    In no event shall Intelytics or its suppliers be liable for any damages arising out of the use or inability to use the Software, even if Intelytics or a representative has been notified orally or in writing of the possibility of such damage.
  </p>
    
  <p><strong>Privacy</strong></p>
  <p>
    Intelytics respects your privacy and handles your personal data in accordance with its Privacy Policy. By using the Software, you consent to the collection, use, and disclosure of your information as described in the Privacy Policy.
  </p>
  
  <p><strong>Termination</strong></p>
  <p>
    Intelytics may terminate your access to the Software at any time, without prior notice or liability, for any reason whatsoever.
  </p>
  
  <p><strong>Governing Law</strong></p>
  <p>
    These Terms & Conditions shall be governed and construed in accordance with the laws of usage of software, without regard to its conflict of law provisions.
  </p>
  
  <p><strong>Changes to Terms & Conditions</strong></p>
  <p>
    Intelytics reserves the right, at its sole discretion, to modify or replace these Terms & Conditions at any time. It is your responsibility to review these Terms & Conditions periodically for any changes.
  </p>
  
  <p><strong>Contact US</strong></p>
  <p>
    If you have any questions about these Terms & Conditions, please contact us</p>
</p><ul><li>By email:&nbsp;contact@intelytics.pro</li><li style="font-size: 18px;">By founder email: sanjoy@intelytics.pro</li><li>By visiting this page on our website: <a href="https://intelytics.pro/">Intelytics</a></li></ul>
